APP_ENV=local
DATABASE_URL=
DJANGO_READ_DOT_ENV_FILE=
DJANGO_DEBUG=
DJANGO_ALLOWED_HOSTS=
DJANGO_SECRET_KEY=

# Email SMTP
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Stripe
STRIPE_PRICING_TABLE=
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_PRICING_TABLE_ID=

# Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING=
